h1{
    color: white;
}
p{
    color:  red;
    visibility: hidden;
}
.header{
    height: 500px;

    background-image: url(rockstar.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
}
